
<form action="/artist-search" method="get">
    <input type="text" name="artistName" id="artistName" placeholder="Insert artist name here...">
    <button type="submit"> Search for artists! </button>
</form>
